.header-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  min-height: 4rem;
  position: relative;
  overflow: hidden;
  align-items: center;
  width: 100%;
  color: #fff;
  background-color: #222222;
}
.header-logo {
  margin: 0px 0px 10px 18px;
}

.header-nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.header-nav-item:hover {
  color: #ee6b2f;
}

.header-nav-item-wrapper {
  padding: 4px;
  display: flex;
  flex-direction: 'column';
}

@media only screen and (max-width: 450px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-nav {
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
  }
  .header-logo {
    margin: 8px 0px 10px 18px;
  }
}
